* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Trebuchet MS;
	display: flex-root;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #FFFF;
}
.container {
	margin-top: 1px;
	width: 100px;
	height: 32px;
	display: block;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:#ffff;
	font-size: 30px;
	text-align: center;
	
}
.time {
	font-size: 1em;
	color:rgb(80, 80, 80);
}
