@@ -0,0 +1,50 @@
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: ariel;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #FFFFFF;
}
.container {
	border: 10px solid rgb(240, 240, 240);
	width: 450px;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:#fff;
	font-size: 48px;
	border-radius: 50%;
	background: rgb(240, 240, 240);
	box-shadow: 
		0 0 5px rgb(240, 240, 240),
		0 0 10px rgb(240, 240, 240),
		0 0 15px rgb(240, 240, 240);
}
.time {
	font-size: 1.5em;
	color:rgb(40, 40, 40);
}
.blink-colon {
	animation: blink 1s infinite linear;
}
@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	30% {
		opacity: 0.4;
	}
}
.date-container {
	margin-top: 6px;
	font-size: 24px;
	color: rgb(255,255,255)
}
